#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    aliases {
        spot-out = &spot_out;
        strap-out = &strap_out;
        motor-out = &motor_pwm;

        display = &ssd1306;
        status-led = &status_led;
    };

    outputs {
        compatible = "gpio-leds";

        spot_out: spot_out {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            label = "Spot IO";
        };

        strap_out: strap_out {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
            label = "Strap IO";
        };

        status_led: status_led {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Status LED";
        };
    };

    pwm_outputs {
        compatible = "pwm-leds";

        motor_pwm: motor_pwm {
            pwms = <&mcpwm0 0 20000 PWM_POLARITY_NORMAL>;
            label = "Motor PWM";
        };
    };

    buttons: buttons {
        compatible = "gpio-keys";

        up_button: up_button {
            gpios = <&gpio0 18 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_UP>;
            label = "Up";
        };

        down_button: down_button {
            gpios = <&gpio0 19 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_DOWN>;
            label = "Down";
        };

        ok_button: ok_button {
            gpios = <&gpio0 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            zephyr,code = <INPUT_KEY_ENTER>;
            label = "OK";
        };
    };

    longpress {
        compatible = "zephyr,input-longpress";

        input = <&buttons>;

        input-codes = <
            INPUT_KEY_UP
            INPUT_KEY_DOWN
            INPUT_KEY_ENTER
        >;

        short-codes = <
            INPUT_KEY_F1
            INPUT_KEY_F2
            INPUT_KEY_F3
        >;

        long-codes = <
            INPUT_KEY_F4
            INPUT_KEY_F5
            INPUT_KEY_F6
        >;

        long-delay-ms = <1000>;
    };
};

&pinctrl {
    i2c0_custom: i2c0_custom {
        group1 {
            pinmux = <I2C0_SDA_GPIO16>,
                     <I2C0_SCL_GPIO17>;
            bias-pull-up;
        };
    };

    mcpwm0_default: mcpwm0_default {
        group1 {
            pinmux = <MCPWM0_OUT0A_GPIO14>;
            output-enable;
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    pinctrl-0 = <&i2c0_custom>;
    pinctrl-names = "default";

    ssd1306: display@3c {
        compatible = "solomon,ssd1306";
        reg = <0x3c>;

        width = <128>;
        height = <64>;

        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;

        prechargep = <0x22>;

        segment-remap;
        com-invdir;
        com-sequential;
        softreset-on;
    };
};

&mcpwm0 {
    status = "okay";

    pinctrl-0 = <&mcpwm0_default>;
    pinctrl-names = "default";

    /*
     * Horloge MCPWM :
     * période PWM_clk = 6.25ns * (prescale + 1)
     */
    prescale = <15>;
    prescale-timer0 = <1>;
};
